
@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 1024px) 
{
  .profilePhoto img
   {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: relative;
    left: 5%;
    }
    h5.profileName {
      font-size: 11px;
    }
    h6.profileName {
      font-size: 9px;
    }
    .menu {
      position: relative;
      top: 100px;
      width: 100%;
      margin: 0 auto;
      padding: 20px 0px;
    }
    .socialIcons {
      position: absolute;
      bottom: 5px;
      left: 22%;
  }
    li.menuUlLi {
      margin-bottom: 20px;
      list-style: none;
    }
    a.menuUlLIA {
      cursor: pointer;
      padding: 5px;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      font-size: 10px;
      letter-spacing: 1px;
    }
    .shimmer {
      font-family: "Alegreya Sans";
      font-weight: bold;
      font-size: 21px;
      margin: 0 auto;
      padding: 0 40px;
      text-align: center;
      color: rgba(255,255,255,0.1);
    }
    #dynamicContent {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-family: "Alegreya Sans";
      font-weight: bold;
      font-size: 12px;
      margin-top: 40px;
      color: #bdbdbd;
    }
    span.socialIconsList img {
      width: 15px;
      margin: 5px;
    }
    img.whatIdoServicesImages {
      width: 50px;
      position: relative;
      left: 35%;
      top: 60px;
    }
    h5.whatIdoServicesName {
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      margin-top: 85px;
    }
    .card {
      width: 45%;
      float: left;
      margin-left: 3%;
      background-color: #fff;
      margin-bottom: 10px;
      padding: 5px 15px;
      height: 225px;
      margin-bottom: 25px;
    }
}

@media only screen and (min-width: 1280px) 
{
  .profilePhoto img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: relative;
    left: 18%;
  }

  .socialIcons {
    position: absolute;
    bottom: 5px;
    left: 26%;  
  }

  img.whatIdoServicesImages {
    width: 50px;
    position: relative;
    left: 40%;
    top: 60px;
  }

}

@media only screen and (min-width: 1360px)
{
  .socialIcons {
    position: absolute;
    bottom: 5px;
    left: 28%;
  }

}

@media only screen and (min-width: 1400px) 
{
  .profilePhoto img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: relative;
    left: 21%;
  }
  .whatIdoBlcok 
  {
    position: relative;
    margin-top: 25%;
  }

  .mainNameBLock {
    margin-top: 75%;
}

.menu {
  width: 55%;
}

}

@media only screen and (min-width: 1800px) 
{
  .profilePhoto img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    position: relative;
    left: 30%;
}

h5.profileName {
  font-size: 14px;
}

h6.profileName {
  font-size: 11px;
}

a.menuUlLIA {
  cursor: pointer;
  padding: 5px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1px;
}

img.whatIdoServicesImages {
  width: 50px;
  position: relative;
  left: 43%;
  top: 60px;
}

.whatIdoBlcok {
  position: relative;
  margin-top: 20%;
}

.mainNameBLock {
  margin-top: 55%;
}

.shimmer {
  font-family: "Alegreya Sans";
  font-weight: bold;
  font-size: 27px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  color: rgba(255,255,255,0.1);
}

#dynamicContent {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: "Alegreya Sans";
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
  color: #bdbdbd;
}

.socialIcons {
  position: absolute;
  bottom: 5px;
  left: 30%;
}


}