body {
    color: #000;
    background-color: #fff;
}

.myandroid {
    position: absolute;
    top: 30%;
    left: 41%;
}

h1.android-heading {
    position: relative;
    left: 35px;
    font-size: 20px;
    bottom: 25px;
}

.Andriod-stage {
    width: 250px;
    position: relative;
    left: 45%;
    top: 30px;
}

.head {
    width: 100px;
    height: 50px;
    background-color: #22ce1f;
    border-radius: 50px 50px 0px 0px;
}

.head:hover{
    -ms-transform: scaleY(1.5); /* IE 9 */
    -webkit-transform: scaleY(1.5); /* Safari 3-8 */
    transform: scaleX(1.5);
}

div.rightEye {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: relative;
    top: 27px;
    z-index: 10000;
    left: 25px;
    border-radius: 100px;
}

div.leftsEye {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: relative;
    top: 17px;
    z-index: 10000;
    left: 65px;
    border-radius: 100px;
}

.right-hand {
    background-color: #22ce1f;
    height: 75px;
    width: 20px;
    position: relative;
    right: 25px;
    top: 7px;
    border-radius: 10px;
}
.right-hand:hover {
transform: rotate(60deg);
}

.left-hand {
    background-color: #22ce1f;
    height: 75px;
    width: 20px;
    position: relative;
    right: 15px;
    top: 6px;
    border-radius: 10px;
}

.left-hand:hover {
transform: rotate(-60deg);
}

.center-body {
    width: 100px;
    height: 120px;
    background-color: #22ce1f;
    position: relative;
    top: 5px;
    right: 20px;
    border-radius: 0 0 20px 20px;
}

.right-leg {
    width: 20px;
    height: 50px;
    background-color: #22ce1f;
    position: relative;
    top: 113px;
    right: 120px;
    border-radius: 10px;
}

.left-leg {
    width: 20px;
    height: 50px;
    background-color: #22ce1f;
    position: relative;
    top: 113px;
    right: 120px;
    border-radius: 10px;
}

.left-leg {
    width: 20px;
    height: 50px;
    background-color: #22ce1f;
    position: relative;
    top: 113px;
    right: 102px;
    border-radius: 10px;
}

.righttop {
    width: 6px;
    height: 25px;
    background-color: #22ce1f;
    position: relative;
    left: 25px;
    border-radius: 10px;
    transform: rotate(-35deg);
    top: -15px;
}

.lefttop {
    width: 6px;
    height: 25px;
    background-color: #22ce1f;
    position: relative;
    left: 65px;
    border-radius: 10px;
    transform: rotate(35deg);
    top: -15px;
}

